* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: darkcyan;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  margin-bottom: 10px;
}

.input {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  color: darkcyan;
}

.danger {
  color: rgb(251, 3, 44);
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: rgb(17, 194, 194);
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 10px;
}

.sub {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgb(47, 125, 157);
  background: rgb(157, 247, 247);
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.error {
  color: red;
}

nav {
  background: #2870ab;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 5px rgba(73, 71, 71, 0.4);
}

.left,
.right {
  width: 50%;
  text-align: center;
}

a {
  color: #fff;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover{
    color: crimson;
}

.link {
  color: crimson;
  cursor: pointer;
  text-decoration: none;
}

footer {
  background: #2870ab;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 5px rgba(73, 71, 71, 0.4);
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.center{
    padding: 1rem;
    text-align: center;
}

h1{
    margin: 10px;
}