<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <nav>
        <div class="left">
            <h3 class="title-text">Sabi Web Services</h3>
        </div>
        <div class="right">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
    </nav>

    <div class="center">
        <h1>{{{name}}}  {{{message}}}! </h1>
        <a href="/login" class="link">Logout</a>
    </div>
    <footer>
        <center>
            Copyright &copy; <a href="#" class="link">2022 Sabi Web Services</a>
        </center>
    </footer>
</body>
</html>