<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">
    <script type="text/javascript">
  (function (f, b) { if (!b.__SV) { var e, g, i, h; window.mixpanel = b; b._i = []; b.init = function (e, f, c) { function g(a, d) { var b = d.split("."); 2 == b.length && ((a = a[b[0]]), (d = b[1])); a[d] = function () { a.push([d].concat(Array.prototype.slice.call(arguments, 0))); }; } var a = b; "undefined" !== typeof c ? (a = b[c] = []) : (c = "mixpanel"); a.people = a.people || []; a.toString = function (a) { var d = "mixpanel"; "mixpanel" !== c && (d += "." + c); a || (d += " (stub)"); return d; }; a.people.toString = function () { return a.toString(1) + ".people (stub)"; }; i = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split( " "); for (h = 0; h < i.length; h++) g(a, i[h]); var j = "set set_once union unset remove delete".split(" "); a.get_group = function () { function b(c) { d[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); a.push([e, call2]); }; } for ( var d = {}, e = ["get_group"].concat( Array.prototype.slice.call(arguments, 0)), c = 0; c < j.length; c++) b(j[c]); return d; }; b._i.push([e, f, c]); }; b.__SV = 1.2; e = f.createElement("script"); e.type = "text/javascript"; e.async = !0; e.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === f.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; g = f.getElementsByTagName("script")[0]; g.parentNode.insertBefore(e, g); } })(document, window.mixpanel || []);
    </script>
</head>
<body>
    <nav>
        <div class="left">
            <h3 class="title-text">Sabi Web Services</h3>
        </div>
        <div class="right">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
    </nav>

    <div class="center">
        <h1>{{{name}}}  {{{message}}}! </h1>
        <a href="/login" class="link">Logout</a>
    </div>
    <h4>You are using <span id="os"></span></h4>
    <footer>
        <center>
            Copyright &copy; <a href="#" class="link">2022 Sabi Web Services</a>
        </center>
    </footer>
    <script>
        mixpanel.init('c11d60db15512d9ada07560d60890f3b', {debug: true, track_pageview: true, persistence: 'localStorage'});
        mixpanel.identify('c11d60db15512d9ada07560d60890f3b');
    const userAgent = navigator.userAgent;
    const operatingSystems = document.getElementById('os');
    let os;

    if (/Windows/.test(userAgent)) {
      os = 'Windows';
      operatingSystems.innerHTML = os;
      console.log(os);
    } else if (/Mac OS|Macintosh/.test(userAgent)) {
      os = 'macOS';
      operatingSystems.innerHTML = os;
      console.log(os);
    } else if (/Linux/.test(userAgent)) {
      os = 'Linux';
      operatingSystems.innerHTML = os;
      console.log(os);
    } else if (/Android/.test(userAgent)) {
      os = 'Android';
      operatingSystems.innerHTML = os;
      console.log(os);
    } else if (/iOS|iPhone|iPad/.test(userAgent)) {
      os = 'iOS';
      operatingSystems.innerHTML = os;
      console.log(os);
    } else {
      os = 'Unknown';
      operatingSystems.innerHTML = os;
      console.log(os);
    }

    // Send the OS information to Mixpanel as a user property
    mixpanel.people.set({ 'Operating System': os });
  </script>
</body>
</html>